streamlit==1.35.0
langchain==0.2.14
langchain-community==0.2.12
langchain-groq==0.1.9
unstructured==0.14.6
selenium==4.9.1
chromadb==0.3.23
pandas==1.5.3
python-dotenv==1.0.0
urllib3==1.26.16
requests==2.31.0
